Repository comworkio/elasticstack-arm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: elastalert-arm, elasticsearch-arm, kibana-arm

.gitlab-ci.yml:

stages:
  - publish

mirror:
  stage: publish
  script:
    - setsid ./ci/mirror.sh
  only:
    - /^(master.*)$/
  tags:
    - elasticlifecycle

elastalert-arm:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "arm" "elastalert" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - elastalert/*
  tags:
    - buildarm

elasticsearch-arm:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "arm" "elasticsearch" "7.13.2" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - elasticsearch/*
  tags:
    - buildarm

kibana-arm:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "arm" "kibana" "7.13.2" "1.5"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - kibana/*
  tags:
    - buildarm

Fix: bad debian repos
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Upgrade nodejs for kibana and create another user for elastic
  .gitlab-ci.yml
  README.md
  docker-compose-example.yml
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: incompatibles dependancies libs
  kibana/Dockerfile
Due: kibana-arm

Fix: permissions
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: permissions problems
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: permissions problems
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: remove npm i
  kibana/Dockerfile
Due: kibana-arm

Add package.json for re2
  .gitignore
  kibana/Dockerfile
  kibana/re2build/package.json
Due: kibana-arm

Fix: permissions
  .gitignore
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
  kibana/Dockerfile
  kibana/package.json
Due: elasticsearch-arm, kibana-arm

Fix: permissions problems and missing dependancies
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_start.sh
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: permissions error
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_start.sh
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: bad place for ARGs
  .gitlab-ci.yml
  elasticsearch/Dockerfile
Due: elasticsearch-arm

Fix: permissions
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_init.sh
Due: elasticsearch-arm

Fix: permissions
  elasticsearch/Dockerfile
Due: elasticsearch-arm

Fix: permissions
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Fix: missing variables
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Fix: missing variables
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Escape variable
  .gitlab-ci.yml
  elasticsearch/Dockerfile
Due: elasticsearch-arm

Update docker-compose-example.yml
  docker-compose-example.yml
Due: none

Update README.md
  README.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add bitbucket mirror
  README.md
  ci/mirror.sh
  elastalert/Dockerfile
Due: elastalert-arm

Update README.md, ci/mirror.sh
  README.md
  ci/mirror.sh
Due: none

Add missing script for elastalert
  .gitlab-ci.yml
  README.md
  elastalert/Dockerfile
  elastalert/README.md
  elastalert/config.yaml
  elastalert/elastalert_start.sh
Due: elastalert-arm

Overiding variables
  .gitlab-ci.yml
  elastalert/Dockerfile
  elastalert/README.md
  elastalert/config.yaml
Due: elastalert-arm

Update docker-deliver.sh
  ci/docker-deliver.sh
Due: none

Update readme
  README.md
Due: none

Update 2 files
  README.md
  ci/mirror.sh
Due: none
