Repository comworkio/elasticstack-arm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: elastalert-arm, elasticsearch-arm, kibana-arm

elastalert-arm:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "arm" "elastalert" "1.0"
  tags:
  - buildarm

elasticsearch-arm:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "arm" "elasticsearch" "7.9.1" "1.4"
  tags:
  - buildarm

kibana-arm:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "arm" "kibana" "7.9.1" "1.3"
  tags:
  - buildarm

Fix: missing environment variables
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
  kibana/kibana_env.sh
Due: elasticsearch-arm, kibana-arm

Fix: version of nodejs
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Add a volume mount point
  .gitlab-ci.yml
  elasticsearch/Dockerfile
Due: elasticsearch-arm

Add startup scripts
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_start.sh
  kibana/Dockerfile
  kibana/kibana_start.sh
Due: elasticsearch-arm, kibana-arm

Fix: too much logs
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Fix: increase versions
  .gitlab-ci.yml
Due: none

Fix: node version
  .gitlab-ci.yml
  kibana/Dockerfile
  kibana/kibana_env.sh
Due: kibana-arm

Fix: server host
  kibana/Dockerfile
  kibana/kibana_start.sh
Due: kibana-arm

Add some documentation
  README.md
  docker-compose-example.yml
Due: none

Upgrade elasticsearch and kibana
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Change arm arch
  kibana/Dockerfile
Due: kibana-arm

Improve documentation
  README.md
Due: none

Force rebuild image
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Change nodejs version
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Add mirror to public gitlab
  .gitlab-ci.yml
  README.md
  ci/mirror.sh
Due: none

Rename gitlab-ci step
  .gitlab-ci.yml
Due: none

Fix: disable garbage collecting logs in order to reduce i/o (that's important for raspberrypi)
  .gitlab-ci.yml
  elasticsearch/Dockerfile
Due: elasticsearch-arm

Fix: use a compatible version of nodejs with kibana
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Fix: rebuild lib re2 in 32 bits
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Fix: rebuild lib re2 in 32 bits
  kibana/Dockerfile
Due: kibana-arm

Fix: rebuild lib re2 for 32 bits armvl7
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Fix: rebuild lib re2 for 32 bits armvl7 : fix npm commands
  kibana/Dockerfile
Due: kibana-arm

Fix: rebuild lib re2 for 32 bits armvl7 : fix npm commands
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Fix: kibana build nodejs for arm32, add a pre-built 32 bits re2
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Add cleanup commands
  kibana/Dockerfile
Due: kibana-arm

Fix: disable xpack features that won't work with ARM
  .gitlab-ci.yml
  kibana/Dockerfile
Due: kibana-arm

Upgrade elasticstack version
  README.md
Due: none

Improve the use of elasticsearch environment variables
  .gitlab-ci.yml
  ci/docker-deliver.sh
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Update .gitlab-ci.yml, elasticsearch/elastic_env.sh files
  .gitlab-ci.yml
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Use a different user to run elasticsearch (more secure)
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Revert "Use a different user to run elasticsearch (more secure)"
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Classpath wildcard seems not working well on macOS bigsur with M1 ship
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_classpath.sh
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Revert "Classpath wildcard seems not working well on macOS bigsur with M1 ship"
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  elasticsearch/elastic_classpath.sh
  elasticsearch/elastic_env.sh
Due: elasticsearch-arm

Update README.md
  README.md
Due: none

Upgrade elasticstack to 7.16.1
  .gitlab-ci.yml
  elasticsearch/Dockerfile
  kibana/Dockerfile
Due: elasticsearch-arm, kibana-arm

Path conditions:
  elastalert-arm: any of: elastalert/*
  elasticsearch-arm: any of: elasticsearch/*
  kibana-arm: any of: kibana/*
